:root {
  --maincolor: #212121;
  --connection: #757575;
  --hover: #2196f3;
  --buttonsback: #f5f4fa;
  --secondcolor: #757575;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Logo */

.logo-part {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* colors */

body {
  background-color: #ffffff;
  color: var(--maincolor);
  font-family: Roboto, sans-serif;
}

footer {
  background-color: #2f303a;
}

/* index */

/* section 1 */

.hero {
  background-color: #2f303a;
}

.hero-header {
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-service {
  color: #ffffff;
  font-family: inherit;
  background-color: #2196f3;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

/* what are we doing */

.lists-header {
  color: var(--maincolor);
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.lists-text {
  color: var(--secondcolor);
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
}

.wawd-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* our team */

.team-main-header {
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-profession {
  color: var(--secondcolor);
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
}

/* portfolio */

/* 1st part header */

.major-nav .link {
  color: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.major-nav .link:hover,
.major-nav .link:focus {
  color: var(--hover);
}

.major-nav .link.current {
  color: var(--hover);
}

/* 2nd part header */

.major-connection {
  color: var(--connection);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.major-connection:hover,
.major-connection:focus {
  color: var(--hover);
}

/* buttons */

.buttons-button {
  background-color: var(--buttonsback);
  cursor: pointer;
  color: inherit;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
}

.buttons-button:hover,
.buttons-button:focus {
  color: #ffffff;
  background-color: var(--hover);
}

/* list */

.list-text {
  color: var(--secondcolor);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

.list-header {
  color: var(--maincolor);
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* footer */

.logo-partt {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.logoo {
  color: #ffffff;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.major-address {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}

.major-connectionn {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  font-style: normal;
}

.major-address:hover,
.major-address:focus {
  color: var(--hover);
}

.major-connectionn:hover,
.major-connectionn:focus {
  color: var(--hover);
}
